/* Estilos gerais */
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #833AB4;
    background: linear-gradient(0deg, rgb(175, 1, 1) 20%, rgb(0, 0, 0) 90%);
    animation: gradientShift 10s ease infinite;
    background-size: 400%;
    font-size: 16px; /* Tamanho de fonte base */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Faz o corpo ocupar toda a altura da tela */
    flex-direction: column;
}

/* Container Principal */
.container-main {
    background-color: rgb(37, 37, 37);
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    margin: 30px 0;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra para um visual mais suave */
}

/* Imagem de Perfil */
.container-imagem img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover; /* Garante que a imagem não seja esticada e preencha o espaço sem deformar */
}

/* Informações do Usuário */
.container-infos h1 {
    font-weight: 800;
    font-size: 1.5em;
}

.container-infos h3 {
    color: #af0606;
    font-weight: 600;
    font-size: 1.1em;
}

.container-easter-egg {
    margin-bottom: 15px;
    color: aliceblue;
}

/* Links e Botões Sociais */
.container-social ul {
    list-style-type: none;
    padding: 0;
}

.container-social a {
    text-decoration: none;
    color: rgb(
